@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Slick Slider Styles */
.slick-dots li button:before {
  color: #8B4513 !important;
}

.slick-dots li.slick-active button:before {
  color: #8B4513 !important;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-slider {
  position: relative;
}
